.wish-form {
  padding: 40px;
  background-color: #fff0f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wish-form h2 {
  color: #d63384;
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 16px;
  color: #444;
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cc6b9c; /* Màu viền xanh dương */
  border-radius: 5px;
  margin-top: 5px;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #d63384; /* Màu viền khi focus xanh đậm */
  outline: none;
}

.submit-button {
  background-color: #d63384; /* Nền button xanh dương */
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #d63384; /* Màu button khi hover xanh đậm */
}
